*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafc;
}

.product-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-section .container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.product-section .container .image-box {
  width: 60%;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 50px 100px rgba(48, 72, 87, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

.product-section .container .image-box .expand {
  position: absolute;
  cursor: pointer;
  top: 2.6rem;
  right: 2.6rem;
  width: 30px;
  height: 30px;
  background-color: #304857;
  border-radius: 50%;
}

.product-section .container .image-box .zoom {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2.6rem;
  top: 6rem;
  display: none;
}

.product-section .container .image-box .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-section .container .image-box .image img {
  width: 100%;
  height: 400px;
  cursor: grab;
}

.product-section .container .image-box .image .bn-desk {
  display: flex;
}

.product-section .container .image-box .image .bn-mobile {
  display: none !important;
}

.product-section .container .image-box .image .bottom-navigation {
  display: flex;
  margin: 20px auto;
}

.product-section .container .image-box .image .bottom-navigation img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.product-section .container .image-box .image .bottom-navigation .left {
  margin-right: 2rem;
}

.product-section .container .image-box .image .bottom-navigation .right {
  margin-left: 2rem;
}

.product-section .container .image-box .img-list {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.product-section .container .image-box .img-list::-webkit-scrollbar {
  display: none;
}

.product-section .container .image-box .img-list img {
  width: 75px;
  height: 75px;
  border-radius: 3px;
  cursor: pointer;
}

.product-section .container .image-box .img-list img:not(:last-child) {
  margin-right: 45px;
}

.product-section .container .content-box {
  width: 40%;
  padding: 2rem;
}

.product-section .container .content-box .content-in {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.product-section .container .content-box .content-in h1 {
  margin-bottom: 3rem;
}

.product-section .container .content-box .content-in .tab-box {
  width: 100%;
  height: 100%;
}

.product-section .container .content-box .content-in .tab-box small {
  text-transform: uppercase;
}

.product-section .container .content-box .content-in .tab-box .color-tabs {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.product-section .container .content-box .content-in .tab-box .color-tabs .color-tab {
  width: inherit;
  height: inherit;
  position: relative;
}

.product-section .container .content-box .content-in .tab-box .color-tabs .color-tab input {
  display: none;
}

.product-section .container .content-box .content-in .tab-box .color-tabs .color-tab input:checked + label {
  border: 2px solid black;
}

.product-section .container .content-box .content-in .tab-box .color-tabs .color-tab label {
  content: "";
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 786px) {
  .product-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-section .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product-section .container .image-box {
    width: 94%;
    padding: 1.2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 50px 100px rgba(48, 72, 87, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.05);
  }
  .product-section .container .image-box .image img {
    width: 100%;
    height: 250px;
  }
  .product-section .container .image-box .image .bn-mobile {
    display: flex !important;
  }
  .product-section .container .image-box .image .bn-desk {
    display: none;
  }
  .product-section .container .image-box .zoom {
    display: block;
  }
  .product-section .container .image-box .img-list {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .product-section .container .image-box .img-list img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
  }
  .product-section .container .image-box .img-list img:not(:last-child) {
    margin-right: 10px;
  }
  .product-section .container .content-box {
    width: 100%;
    padding: 1rem;
  }
  .product-section .container .content-box .content-in {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .product-section .container .content-box .content-in h1 {
    margin-bottom: 1rem;
  }
  .product-section .container .content-box .content-in .tab-box {
    width: 100%;
    height: 100%;
  }
  .product-section .container .content-box .content-in .tab-box small {
    text-transform: uppercase;
  }
  .product-section .container .content-box .content-in .tab-box .color-tabs {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  .product-section .container .content-box .content-in .tab-box .color-tabs .color-tab {
    width: inherit;
    height: inherit;
    position: relative;
  }
  .product-section .container .content-box .content-in .tab-box .color-tabs .color-tab input {
    display: none;
  }
  .product-section .container .content-box .content-in .tab-box .color-tabs .color-tab label {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */